<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eloan.base.mapper.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.eloan.base.domain.Userinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="incomeGrade_id" property="incomegradeId" jdbcType="BIGINT" />
    <result column="marriage_id" property="marriageId" jdbcType="BIGINT" />
    <result column="kidCount_id" property="kidcountId" jdbcType="BIGINT" />
    <result column="educationBackground_id" property="educationbackgroundId" jdbcType="BIGINT" />
    <result column="houseCondition_id" property="houseconditionId" jdbcType="BIGINT" />
    <result column="authScore" property="authscore" jdbcType="INTEGER" />
    <result column="realauthId" property="realauthid" jdbcType="BIGINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FullResultMap" type="com.eloan.base.domain.Userinfo" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="bindPhone" property="bindPhone" jdbcType="BOOLEAN" />
    <result column="bindEmail" property="bindEmail" jdbcType="BOOLEAN" />
    <result column="realAuth" property="realAuth" jdbcType="BOOLEAN" />
    <association property="incomeGrade" column="incomeGrade_id" javaType="SystemDictionaryItem" select="com.eloan.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey" />
  	<association property="marriage" column="marriage_id" javaType="SystemDictionaryItem" select="com.eloan.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey" />
  	<association property="kidCount" column="kidCount_id" javaType="SystemDictionaryItem" select="com.eloan.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey" />
  	<association property="educationBackground" column="educationBackground_id" javaType="SystemDictionaryItem" select="com.eloan.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey" />
  	<association property="houseCondiion" column="houseCondition_id" javaType="SystemDictionaryItem" select="com.eloan.base.mapper.SystemdictionaryitemMapper.selectByPrimaryKey" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eloan.base.domain.Userinfo"  keyProperty="id" >
    insert into userinfo (id,version, bitState, realName, 
      idNumber, phoneNumber, incomeGrade_id, 
      marriage_id, kidCount_id, educationBackground_id, 
      houseCondition_id, authScore, realauthId, 
      email)
    values (#{id},0, 0, #{realName,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 0, 
      0, 0, 0, 
      0, #{authScore,jdbcType=INTEGER}, #{realauthId,jdbcType=BIGINT}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eloan.base.domain.Userinfo" >
    update userinfo
    set version = version +1,
      bitState = #{bitState,jdbcType=BIGINT},
      realName = #{realName,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      incomeGrade_id = #{incomegradeId,jdbcType=BIGINT},
      marriage_id = #{marriageId,jdbcType=BIGINT},
      kidCount_id = #{kidcountId,jdbcType=BIGINT},
      educationBackground_id = #{educationbackgroundId,jdbcType=BIGINT},
      houseCondition_id = #{houseconditionId,jdbcType=BIGINT},
      authScore = #{authScore,jdbcType=INTEGER},
      realauthId = #{realauthId,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT} AND version = #{version}
  </update>
  <select id="selectByPrimaryKey" resultMap="FullResultMap" parameterType="java.lang.Long" >
    SELECT
		id,
		version,
		bitState,
		realName,
		idNumber,
		phoneNumber,
		incomeGrade_id,
		marriage_id,
		kidCount_id,
		educationBackground_id,
		houseCondition_id,
		authScore,
		realauthId,
		email,
		CASE
	WHEN LENGTH(phoneNumber) > 0 THEN
		TRUE
	ELSE
		FALSE
	END AS bindPhone,
	 CASE
	WHEN LENGTH(email) > 0 THEN
		TRUE
	ELSE
		FALSE
	END AS bindEmail,
	 CASE
	WHEN LENGTH(idNumber) > 0 THEN
		TRUE
	ELSE
		FALSE
	END AS realAuth
	FROM
		userinfo
	WHERE
		id = #{id,jdbcType=BIGINT}

  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, version, bitState, realName, idNumber, phoneNumber, incomeGrade_id, marriage_id,
    kidCount_id, educationBackground_id, houseCondition_id, authScore, realauthId, email
    from userinfo
  </select>
</mapper>